@charset "utf-8";
table#ListaMenu tbody tr,table#TbDetalle tbody tr{
    cursor: pointer;

}
.entero, .numeric
{ 
    text-align: right;

}
#tbCampos .ui-button-text, .ui-tabs-anchor {
    font-size: 12px !important;
}
.text {
    background-color: #E9E9E9;
    border: 2px solid #A8A8A8;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    width: 120px;
    padding-left:5;
    padding-right:5;
    padding-top: 1;
    padding-bottom:1;
    border-width:1px;
    border-style:solid;
    height: 20px;
}

.text2 {
    background-color: #E9E9E9;
    border: 2px solid #A8A8A8;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    width: 250px;
    padding-left:5;
    padding-right:5;
    padding-top: 1;
    padding-bottom:1;
    border-width:1px;
    border-style:solid;
    height: 20px;
}
.text2 {
    background: url("images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% #FFFFFF;
    border: 1px solid #EEEEEE;
    color: #333333;
}
.MljSoft-icon-nuevo{

    background-repeat: no-repeat;
    background-image: url('images/nuevo.png');
    cursor: pointer;
    padding: 1px 8px 1px 8px;
}
.MljSoft-icon-modificar{

    background-repeat: no-repeat;
    background-image: url('images/modificar.png');
    cursor: pointer;
    padding: 1px 8px 1px 8px;
}
.MljSoft-icon-bloqueado{

    background-repeat: no-repeat;
    background-image: url('images/Seguridad.png');
    cursor: pointer;
    padding: 1px 8px 1px 8px;
}
.MljSoft-icon-eliminar{

    background-repeat: no-repeat;
    background-image: url('images/eliminar.png');
    cursor: pointer;
    padding: 1px 8px 1px 8px;
}

.MljSoft-icon-buscar{

    background-repeat: no-repeat;
    background-image: url('images/buscar.png');
    cursor: pointer;
    padding: 1px 8px 1px 8px;
}
.MljSoft-icon-refresh{

    background-repeat: no-repeat;
    background-image: url('images/Refresh.png');
    cursor: pointer;
    padding: 1px 8px 1px 8px;
}
.MljSoft-icon-print{

    background-repeat: no-repeat;
    background-image: url('images/imprimir.png');
    cursor: pointer;
    padding: 1px 8px 1px 8px;

}
.icono-icon-add{

    background-repeat: no-repeat;
    background-image: url('../images/iconos/add.png');
    cursor: pointer;
    padding: 1px 8px 1px 8px;

}
.icono-icon-info{

    background-repeat: no-repeat;
    background-image: url('../images/iconos/Info.png');
    cursor: pointer;
    padding: 1px 8px 1px 8px;

}
.icono-icon-document{

    background-repeat: no-repeat;
    background-image: url('../images/iconos/Documento.png');
    cursor: pointer;
    padding: 1px 8px 1px 8px;

}
.icono-icon-detalle{

    background-repeat: no-repeat;
    background-image: url('../images/iconos/detalle.png');
    cursor: pointer;
    padding: 1px 8px 1px 8px;

}
.icono-icon-loading{
    background-repeat: no-repeat;
    background-image: url('../images/iconos/indicator.gif');
    padding: 1px 8px 1px 8px;

}
.icono-icon-ok{
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('images/Ok.png');
    padding: 1px 8px 1px 8px;
}
.icono-icon-trash{
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('images/trash.png');
    padding: 1px 8px 1px 8px;
}
.icono-icon-back{
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('images/back.png');
    padding: 1px 8px 1px 8px;
}
.icono-icon-dinero{
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('images/Dinero.png');
    padding: 1px 8px 1px 8px;
}
.Negrita {font-weight:bold;}

/*#btnVerificar
{
        background-image:url(images/generar.png); 
        background-position:7px 5px; background-repeat:no-repeat; padding: 5px 5px 5px 15px;
         text-align:center; width:85px
        
}
#BtnAceptar
{
        background-image:url(images/Save.png); 
        background-position:7px 5px; background-repeat:no-repeat; padding: 5px 5px 5px 15px;
        text-align:center; width:85px
        
}
#BtnImprimir
{
        background-image:url(images/imprimir.png); 
        background-position:7px 5px; background-repeat:no-repeat; padding: 5px 5px 5px 15px;
        text-align:center; width:85px
        
}

#BtnExcel
{
        background-image:url(images/excel.png); 
        background-position:7px 5px; background-repeat:no-repeat; padding: 5px 5px 5px 20px;
        text-align:center
        
}
#BtnPdf
{
        background-image:url(images/pdf.png); 
        background-position:7px 5px; background-repeat:no-repeat; padding: 5px 5px 5px 20px;
        text-align:center
        
}
#BtnLoading
{
        display: none;
        background-repeat: no-repeat;
    background-image: url('../images/avance.gif');
        background-position:7px 5px; background-repeat:no-repeat; padding: 5px 5px 5px 20px;
        text-align:center
        
}*/
table#TbIndex tbody tr,table#TbDetalle tbody tr{
    cursor: pointer;

}
table#TbIndex tbody tr td,table#TbDetalle tbody tr td{
    padding-left:5px;

}

#tblogin,.form{

    width: 175px;
    height: 160px;
    border-radius: 120px 120px 120px 120px;
    -moz-border-radius: 120px 120px 120px 120px;
    -webkit-border-radius: 120px 120px 120px 120px;
    border: 5px solid #CCC;
    cursor: pointer;
    padding: 10px;
    margin:5px;
    color:#0059B3;
    font-weight:bold;
    font-size:13px;
    /*background-color:#E9ECEF;
    
     Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7fbfc+0,d9edf2+40,add9e4+100;Blue+3D+%231 */
    background: rgb(255,255,255); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMmRlZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(226,222,222,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(226,222,222,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(226,222,222,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(226,222,222,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(226,222,222,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(226,222,222,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2dede',GradientType=0 ); /* IE6-8 */

}

#tblogin:hover{
    width:170px;
    color: #FFFFFF;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b7ea+0,009ec3+100;Blue+3D+%2315 */
    background: #00b7ea; /* Old browsers */
    background: -moz-linear-gradient(top,  #00b7ea 0%, #009ec3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #00b7ea 0%,#009ec3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */

    border: 3px solid #CCC;
}

#tblogin img{
    margin-top: 30px;
    margin-bottom: 10px;
}

#tblogin span{

}

#tblogin .Estilo2:hover{
    color:#FFFFFF; 
    font-weight:bold;
    font-size:13px;
    text-align:center;
    text-transform:uppercase;
}

.TitDetalle{
    font-family:Arial;
    font-size:11px;
    padding:2px;
}
.inputtext {
    padding-left:5;
    padding-right:5;
    color:#000;
    font-size:10px;
    text-transform:uppercase;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.inputtext3 {
    padding-left:5;
    padding-right:5;
    color:#000;
    font-size:10px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
/*.button{
        border:solid 1px #ccc;
        background:#E9ECEF;
        color:#666;
        font-weight:bold;
        font-size:11px;
        padding:4px;
        cursor: pointer;
}*/
.Titulo{
    background-image:url(../images/Titulo_Index.png);
    padding:4px;
    text-align:center;
    color:#03C;
    text-transform:uppercase;
    font-size:16px;
    font-family:"Comic Sans MS";
    text-shadow: #818181 2px 0.1em 2px;
}
.TituloVer{
    /*background-image:url(../images/Titulo_Index.png);
    padding:4px;*/
    text-align:center;
    color:#03C;
    text-transform:uppercase;
    font-size:10px;
    font-family:"Comic Sans MS";
    /*text-shadow: #818181 2px 0.1em 2px;*/
}
.CabIndex,#grilla_mantenimiento td,#grilla_mantenimiento th,#grilla_mantenimiento1 td{
    /* background-image:url(../images/cabindex.png); */
    height:30px;	
    font-size:13px;
    color:#FFF;
    font-weight:bold;
    font-family:"Comic Sans MS";
    background: rgb(109,179,242); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZkYjNmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzU0YTNlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzM2OTBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTY5ZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-8 */

}
.PieIndex{
    /* background-image:url(../images/cabindex.png); */
    height:30px;
    font-size:12px;
    color:#FFF;
    font-weight:bold;
    font-family:"Comic Sans MS";
    background: rgb(109,179,242); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZkYjNmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzU0YTNlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzM2OTBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTY5ZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-8 */


}
.select {
    padding-left:5;
    padding-right:5;
    color:#000;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.barra { 
    width:inherit;
    height:25px;
    background:#09C;
    margin-left:2px;
    margin-top:2px;
    border-top:1px solid #FFF;
    border-right:1px solid #FFF;
    border-bottom:1px solid #666;
    background-image:url(../images/barrapop.png);
}

/******** login ************/
.title-log{
    background: rgb(208,228,247); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QwZTRmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI0JSIgc3RvcC1jb2xvcj0iIzczYjFlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzBhNzdkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc5JSIgc3RvcC1jb2xvcj0iIzUzOWZlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4N2JjZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(208,228,247,1) 0%, rgba(115,177,231,1) 24%, rgba(10,119,213,1) 50%, rgba(83,159,225,1) 79%, rgba(135,188,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(208,228,247,1)), color-stop(24%,rgba(115,177,231,1)), color-stop(50%,rgba(10,119,213,1)), color-stop(79%,rgba(83,159,225,1)), color-stop(100%,rgba(135,188,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-8 */

    height:30px;
    color:#FFF;
    font-size:13px;
}

.caja{
    -moz-border-radius: 1em 1em 1em 1em;
    border-radius: 1em 1em 1em 1em;
    border:2px #CCC solid;
    text-transform:uppercase;
}

#NombreModulo{
    font-family: Comic Sans MS;
    color:#191F2F; 
    font-weight:bold; 
    font-size:15px;
    height:auto;
    float:right;

    padding:0;
    display:inline;	 



}
.DivSucursal{
    font-family: Comic Sans MS;

    margin:0 auto;
    width:auto;
    font-size:15px;
    padding:0; 
    float:right;
    font-weight:bold;
    display:inline;
    margin-left:10px;
    margin-right:20px;
}
.nomb_emp{

    font-family: Comic Sans MS;
    color:#191F2F; 
    font-weight:bold; 
    font-size:16px;
    text-transform:uppercase;

    float: right;
    display: table-cell;
    vertical-align: middle;
    margin-top:10px;

}
#DivBaner{

    cursor: pointer;
    /*opacity:0.8;
  filter:alpha(opacity=80); */
}
#DivBaner:hover{
    /*opacity:1;
filter:alpha(opacity=100); */

}

/*** Seleccion de sistemas*/
.ui-header{

    /*height:60px;*/
    background: rgb(208,228,247); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QwZTRmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI0JSIgc3RvcC1jb2xvcj0iIzczYjFlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzBhNzdkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc5JSIgc3RvcC1jb2xvcj0iIzUzOWZlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4N2JjZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgb(208,228,247) 0%, rgb(115,177,231) 24%, rgb(10,119,213) 50%, rgb(83,159,225) 79%, rgb(135,188,234) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(208,228,247)), color-stop(24%,rgb(115,177,231)), color-stop(50%,rgb(10,119,213)), color-stop(79%,rgb(83,159,225)), color-stop(100%,rgb(135,188,234))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(208,228,247) 0%,rgb(115,177,231) 24%,rgb(10,119,213) 50%,rgb(83,159,225) 79%,rgb(135,188,234) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgb(208,228,247) 0%,rgb(115,177,231) 24%,rgb(10,119,213) 50%,rgb(83,159,225) 79%,rgb(135,188,234) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgb(208,228,247) 0%,rgb(115,177,231) 24%,rgb(10,119,213) 50%,rgb(83,159,225) 79%,rgb(135,188,234) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgb(208,228,247) 0%,rgb(115,177,231) 24%,rgb(10,119,213) 50%,rgb(83,159,225) 79%,rgb(135,188,234) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-8 */

}

.selec-sis{
    border:10px double #CCC;
    -moz-border-radius: 2em 2em 2em 2em;
    border-radius: 2em 2em 2em 2em;
    width:1000px;
}
.selec-mod{
    border:10px double #CCC;
    -moz-border-radius: 2em 2em 2em 2em;
    border-radius: 2em 2em 2em 2em;
    width:1000px;
}
.seleccion{
    -moz-border-radius: 2em 2em 2em 2em;
    border-radius: 2em 2em 2em 2em;
    border-bottom: 2px solid #CCC;
    border-left: 2px solid #CCC;
    border-right: 2px solid #CCC;
    width:500px;

    padding-bottom:5px;
    margin-bottom:5px;
    background: rgb(197,222,234); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1ZGVlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMxJSIgc3RvcC1jb2xvcj0iIzhhYmJkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNjZkYWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(6,109,171,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(197,222,234,1)), color-stop(31%,rgba(138,187,215,1)), color-stop(100%,rgba(6,109,171,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 ); /* IE6-8 */

}

.seleccion:hover{
    background: rgb(220,226,229); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RjZTJlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iIzlhYmZkMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYjgyYTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(220,226,229,1) 0%, rgba(154,191,211,1) 33%, rgba(59,130,165,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220,226,229,1)), color-stop(33%,rgba(154,191,211,1)), color-stop(100%,rgba(59,130,165,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(220,226,229,1) 0%,rgba(154,191,211,1) 33%,rgba(59,130,165,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(220,226,229,1) 0%,rgba(154,191,211,1) 33%,rgba(59,130,165,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(220,226,229,1) 0%,rgba(154,191,211,1) 33%,rgba(59,130,165,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(220,226,229,1) 0%,rgba(154,191,211,1) 33%,rgba(59,130,165,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dce2e5', endColorstr='#3b82a5',GradientType=0 ); /* IE6-8 */

    padding-bottom:3px;
    margin-bottom:3px;
}

/* Facturacion */
#frm_loading {	width:300px;			
               /*		background:#fff url(../images/img6.png) repeat-x;*/
               text-align:center;
               /*border:1px solid #ACACAC;*/
               position:absolute;
               font-size:16px;
               color:#000;
               font-weight:bold;			
}


.ui-icon-delete
{
    background-repeat: no-repeat;
    background-image: url('images/x.png');
    cursor: pointer;
    padding: 1px 8px 1px 8px;

}
.ui-icon-add{

    background-repeat: no-repeat;
    background-image: url('images/add.png');
    cursor: pointer;
    padding: 1px 8px 1px 8px;
}

.BtnIndex
{
    width:85px;
    /*background-color:#FFF; /*color:#000;*/ text-align:center; 
}
#BtnAceptar
{
    background-image:url(images/Save.png); 
    background-position:7px 5px; background-repeat:no-repeat; padding: 5px 5px 5px 15px;
    /*background-color:#FFF; /*color:#000;*/ text-align:center; width:85px

}
#btnAceptar
{
    background-image:url(images/Save.png); 
    background-position:7px 5px; background-repeat:no-repeat; padding: 5px 5px 5px 15px;
    /*background-color:#FFF; /*color:#000;*/ text-align:center; width:85px

}
#BtnCancelar
{   
    width:92px;
    background-image:url(images/x.png); 
    background-position:7px 5px; background-repeat:no-repeat; padding: 5px 5px 5px 15px;
    /*background-color:#FFF; /*color:#000;*/ text-align:center;

}
#btnCerrar
{
    background-image:url(images/x.png); 
    background-position:7px 5px; background-repeat:no-repeat; padding: 5px 5px 5px 15px;
    /*background-color:#FFF; /*color:#000;*/ text-align:center;width:85px

}
#BtnNuevo
{
    background-image:url(images/new.png); 
    background-position: 7px 5px; background-repeat:no-repeat; padding: 5px 5px 5px 15px;
    /*background-color:#FFF; /*color:#000;*/ text-align:center; 

}
#BtnModificar
{
    background-image:url(images/update.png); 
    background-position:7px 5px; background-repeat:no-repeat; padding: 5px 5px 5px 15px;
    /*background-color:#FFF; /*color:#000;*/ text-align:center

}
#BtnEliminar
{
    background-image:url(images/delete.png); 
    background-position:7px 5px; background-repeat:no-repeat; padding: 5px 5px 5px 15px;
    /*background-color:#FFF; /*color:#000;*/ text-align:center

}
#BtnVer 
{
    background-image:url(images/ver.png); 
    background-position:7px 5px; background-repeat:no-repeat; padding: 5px 5px 5px 15px;
    /*background-color:#FFF; /*color:#000;*/ text-align:center

}
#BtnBuscar 
{
    width:92px;
    /*background-color:#FFF; color:#000; */ text-align:center; 
    background-image:url(images/ver.png); 
    background-position:7px 5px; background-repeat:no-repeat;
    padding: 5px 5px 5px 17px;


}
#BtnPagos 
{
    width:85px;
    /*background-color:#FFF;*/ color:#000; text-align:center; 
    background-image:url(images/Dinero.png); 
    background-position:2px 5px; background-repeat:no-repeat; padding: 5px 5px 5px 15px;


}
#BtnRegresar
{
    width:90px;
    /*background-color:#FFF;*/ color:#000; text-align:right; 
    background-image:url(images/back.png); 
    background-position:1px 5px; 
    background-repeat:no-repeat; 
    padding: 5px 5px 5px 15px;


}

#BtnCtaCte{
    width:92px;
    background-image:url(images/imprimir.png); 
    background-position:7px 5px; 
    background-repeat:no-repeat; 
    padding: 5px 5px 5px 25px;
}

#BtnImprimir
{       
    width:92px;
    background-image:url(images/imprimir.png); 
    background-position:7px 5px; 
    background-repeat:no-repeat; 
    padding: 5px 5px 5px 25px;
    /*background-color:#FFF; color:#000;*/ text-align:center

}
#BtnExcel
{
    background-image:url(images/excel.png); 
    background-position:7px 5px; background-repeat:no-repeat; padding: 5px 5px 5px 20px;
    /*background-color:#FFF; /*color:#000;*/ text-align:center

}
#BtnPdf
{
    background-image:url(images/pdf.png); 
    background-position:7px 5px; background-repeat:no-repeat; padding: 5px 5px 5px 20px;
    /*background-color:#FFF; color:#000;*/ text-align:center

}

#BtnLoading
{
    display: none;
    background-repeat: no-repeat;
    background-image: url('../images/caragando.gif');
    background-position:7px 5px; background-repeat:no-repeat; padding: 5px 5px 5px 20px;
    /*background-color:#FFF; /*color:#000;*/ text-align:center

}



/* jQuery TreeTable Core 2.0 stylesheet
 *
 * This file contains styles that are used to display the tree table. Each tree
 * table is assigned the +treeTable+ class.
 * ========================================================================= */

/* jquery.treeTable.collapsible
 * ------------------------------------------------------------------------- */
.treeTable tr td .expander {
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 0;
    zoom: 1; /* IE7 Hack */
}

.treeTable tr.collapsed td .expander {
    background-image: url(images/toggle-expand-dark.png);
}

.treeTable tr.expanded td .expander {
    background-image: url(images/toggle-collapse-dark.png);
}

/* jquery.treeTable.sortable
 * ------------------------------------------------------------------------- */
.treeTable tr.selected, .treeTable tr.accept {
    background-color: #3875d7;
    color: #fff;
}

.treeTable tr.collapsed.selected td .expander, .treeTable tr.collapsed.accept td .expander {
    background-image: url(images/toggle-expand-light.png);
}

.treeTable tr.expanded.selected td .expander, .treeTable tr.expanded.accept td .expander {
    background-image: url(images/toggle-collapse-light.png);
}

.treeTable .ui-draggable-dragging {
    color: #000;
    z-index: 1;
}

/*AUTOCOMPLET*/
.ac_results {
    padding: 0px;
    border: 1px solid black;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}
.ui-autocomplete{
    z-index: 6000;	
}
.ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: default;
    display: block;
    z-index: 6000;
    /* 
    if width will be 100% horizontal scrollbar will apear 
    when scroll mode will be used
    */
    /*width: 100%;*/
    font: menu;
    font-size: 12px;
    /* 
    it is very important, if line-height not setted or setted 
    in relative units scroll will be broken in firefox
    */
    line-height: 16px;
    overflow: hidden;
}

.ac_loading {
    background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
    background-color: #eee;
}

.ac_over {
    background-color:#09F;/* #0A246A;*/
    color: white;
}


/*CABECERAS FIJA*/
/* @group Reset */

.fht-table,
.fht-table thead,
.fht-table tfoot,
.fht-table tbody,
.fht-table tr,
.fht-table th,
.fht-table td {
    margin: 0;
    padding: 0;

    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.fht-table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* @end */

/* @group Content */

div.fht-table-wrapper {
    overflow: hidden;
}

div.fht-tbody {
    overflow-y: auto;
    overflow-x: auto;
}

.fht-table .fht-cell {
    overflow: hidden;
    height: 1px;
}

/* @end */