/* CSS Document */
* {
	padding:0px;
	margin:0px;	
}
.Nav {
	padding-left:15px;
	z-index:1000;
}

.Nav * {
	
}

.Nav ul, .Nav ol {	
	/* Fondo */
	background: #93cede;	
	background: -moz-linear-gradient(top, #93cede 0%, #75bdd1 41%, #49a5bf 64%, #49a5bf 100%);	
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #93cede), color-stop(41%, #75bdd1), color-stop(64%, #49a5bf), color-stop(100%, #49a5bf));
	background: -webkit-linear-gradient(top, #93cede 0%, #75bdd1 41%, #49a5bf 64%, #49a5bf 100%);	
	background: -o-linear-gradient(top, #93cede 0%, #75bdd1 41%, #49a5bf 64%, #49a5bf 100%);	
	background: -ms-linear-gradient(top, #93cede 0%, #75bdd1 41%, #49a5bf 64%, #49a5bf 100%);	
	background: linear-gradient(to bottom, #93cede 0%, #75bdd1 41%, #49a5bf 64%, #49a5bf 100%);	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=0 );	

	-webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.4);
	
	list-style:none;
}

.Nav li{ list-style:none;}

.Nav li a {
	color:#FFF;
	text-decoration:none;
	padding:5px 5px;
	display:block;
    list-style:none;
}

.Nav li a img {
	float:right;
}

.Nav li a:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e30613+0,cf0404+100 */
background: #e30613; /* Old browsers */
background: -moz-linear-gradient(top,  #e30613 0%, #cf0404 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e30613 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e30613 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e30613', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */

	/* Sombras */
	-webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.4);
	
	font-weight:bold;
}

.Nav > li {
	float:left;
	text-align:center;
	min-width:70px;
	
}

.Nav li ul {
	text-align:left;
	visibility:hidden;
	position:absolute;
	min-width:140px;
	
	-webkit-transition: opacity .4s ease-out;
	-moz-transition: opacity .4s ease-out;
	transition: opacity .4s ease-out;
	
	opacity:0;
}

.Nav li:hover > ul {
	opacity:1;
	visibility: visible;
}

.Nav li ul li {
	position:relative;
}

.Nav li ul li ul {
	right:-140px;
	top:0px;
	z-index:1001;
}

.icon{
	display: block;
	float:left;
	background-color: rgba(255,255,255,.15);
	width:16px;
	padding:2px;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	-webkit-box-shadow: 0px 0px 0px 5px rgba(255,255,255,0);
	-moz-box-shadow: 0px 0px 0px 5px rgba(255,255,255,0);
	box-shadow: 0px 0px 0px 5px rgba(255,255,255,0);
	
	-webkit-transition:box-shadow 1s;
	-moz-transition:box-shadow 1s;
	transition:box-shadow 1s;
}
.Nav li:hover .icon{
	-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
	-moz-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
	box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}