.pagination {
	font-size: 80%;
}
        
.pagination label {
    text-decoration: none;
	/*border: solid 1px #AAE;*/
	color:#FFF;
}

.pagination label, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}

.pagination .current {
    background:#000;
    color: #fff;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#fff;
	/*border-color:#999;
	background:#CCC;*/
}

.next, .prev{
	border: solid 1px #AAE;
	background-color:#033
}
